cameras:
  - type: "free"
    position: [0.0, 0.0, -10.0]
    up: [0.0, 1.0, 0.0]
    look: [0.0, 0.0, 1.0]
    near: 0.01
    far: 100.0
    speed: 10.0

  - type: "at"
    position: [0.0, 0.0, -20.0]
    up: [0.0, 1.0, 0.0]
    look: [0.0, 0.0, 0.0]
    near: 0.01
    far: 100.0

materials:
  - name: "crate"
    albedoPath: "textures\\Crate_COLOR.dds"
    normalMapPath: "textures\\Crate_NORM.dds"
    specularMapPath: "textures\\Crate_SPEC.dds"
    ambient: [1.0, 1.0, 1.0, 1.0]
    diffuse: [1.0, 1.0, 1.0, 1.0]
    specular: [1.0, 1.0, 1.0, 1.0]
    specularPower: 3.0
    isTranslucent: false

  - name: "crate-transparent"
    albedoPath: "textures\\Crate_COLOR_TRANSLUCENT.dds"
    normalMapPath: "textures\\Crate_NORM.dds"
    #normalMapPath: ""
    specularMapPath: "textures\\Crate_SPEC.dds"
    #specularMapPath: ""
    ambient: [1.0, 1.0, 1.0, 1.0]
    diffuse: [1.0, 1.0, 1.0, 1.0]
    specular: [1.0, 1.0, 1.0, 1.0]
    specularPower: 3.0
    isTranslucent: true

  - name: "tbh"
    albedoPath: ""
    normalMapPath: ""
    specularMapPath: ""
    ambient: [1.0, 1.0, 1.0, 1.0]
    diffuse: [1.0, 1.0, 1.0, 1.0]
    specular: [1.0, 1.0, 1.0, 1.0]
    specularPower: 3.0
    isTranslucent: false

gameObjects:
  - modelPath: "models\\cube.obj"
    material: "crate-transparent"
    position: [3.0, 0.0, 0.0]
    scale: [1.0, 1.0, 1.0]
    rotation: [0.0, 0.0, 0.0]
    
  - modelPath: "models\\TBH.obj"
    material: "tbh"
    position: [0.0, 0.0, -6.0]
    scale: [1.0, 1.0, 1.0]
    rotation: [0.0, 0.0, 0.0]

# Lighting
lighting:
  ambientLight: [0.2, 0.2, 0.2, 1]

  directionalLights:
    - direction: [-0.5, 0.5, 0.0]
      color: [0.7, 0.7, 0.7, 1.0]

  pointLights:
    - position: [0.0, 0.0, 0.0]
      color: [0.0, 1.0, 0.0, 1.0]
      attenuation: 0.3

    - position: [0.0, 0.0, -5.5]
      color: [1.0, 1.0, 1.0, 1.0]
      attenuation: 0.3